* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 40, 40, 1);
}

.container {
    display: flex;
    flex-flow: row nowrap;
    gap: 5rem;
}

img {
    display: none;
}

#world {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 1);
}

#world3d {
    border: 2px solid rgb(255, 255, 255);
    background: linear-gradient(0deg, #07110d 50%, #001c3a 0%);
}